%skiping {
    color: #fff;
    background-color: #ccc;
    border-color: #bdbcbc;
}

.btn-skiping {
    @extend %skiping;
    &:hover, &:focus, &.focus {
        color: #fff;
        background-color: #9d9d9d;
        border-color: #999;
    }
    .disabled {
        &:hover, &:focus, &.focus {
            @extend %skiping;
        }
    }
    &[disabled] {
        &:hover, &:focus, &.focus {
            @extend %skiping;
        }
    }
}

fieldset[disabled] {
    .btn-skiping {
        &:hover, &:focus, &.focus {
            @extend %skiping
        }
    }
}